*
{
    box-sizing: border-box;
    margin: 0;
}

body
{
    background-color: rgb(31, 31, 32);
}

main /*! Por favor dejen de lastimar mis ojos */
{
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.123);
    padding: 25px;
    border-radius: 5px;
}

p, h1, h2, h3, h4, h5, label, li
{
    color:rgb(255, 255, 255);
}

input
{
    outline: none;
}

button, .button
{
    border: none;
    background-color: #da1b3b;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    margin-right: 15px;
}

button:hover
{
    cursor: pointer;
}

a
{
    color: #da1b3b;
    text-decoration: none;
}

a:visited
{
    color: #da1b3b;
}

li
{
    list-style: none;
}

ol, ul
{
    padding:0px;
}

.errorMsg
{
    width: fit-content;
    font-weight: 500;
    color: red;
    font-size: 12px;
    margin: 0 0 15px 15px;
}