<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %> 
  <body>
    <%- include('./partials/header.ejs') %> 
    <main>
      <h1>Digital Movies</h1>
      <p>Bienvenidos a Digital Movies</p>
      <br>
      <ul>
        <li><a href="/movies">Listado de Películas</a></li>
        <li><a href="/genres">Listado de Géneros</a></li>
        <li><a href="/actors">Listado de Actores</a></li>
      </ul>

      <br>
      <hr>
      <br>

      <p>Por favor, dejen de usar fondos de color blanco.</p>
      <p>Me lastiman.</p>
      <br>
      <p>Atte. Mis ojos</p>
    </main>
    
  </body>
</html>
