<header class="header">
    
    <a href="/" id="logo">
        <img src="/img/logo-DH.png" alt="Comisión">
    </a>
    <div>
        <a href="/movies">Todas las películas</a>
        <a href="/movies/new">Novedades</a>
        <a href="/movies/recommended">Recomendaciones</a>
        <a href="/genres">Géneros</a>
        <a href="/actors">Actores</a>
    </div>
</header>